body {
background-color: rgb(133, 134, 194);
padding:10px,20px,30px,40px;
margin:50px
}
.title {
margin-left:450px;
margin-right:450px
}
.subtitle {
margin-left:500px;
margin-right:500px
}
.text {
font:'Arial Narrow Bold'
}
