body {
background-color: rgb(133, 134, 194);
padding:10px,20px,30px,40px;
margin:50px
}
.title {
margin-left:450px;
margin-right:450px
}
.subtitle {
margin-left:520px;
margin-right:520px
}
.text {
font-size: medium;
font-family: "Gill Sans Extrabold", sans-serif;
}
